<form class="search-box" {{on "submit" this.addLog}}>
  <Input @value={{this.newLogId}} class="form-control" placeholder="Log Id" type="text" />
  <button type="submit">Import</button>
</form>
<div class="search-container">
</div>
<div class="analysis-container">
  {{#each-in @model as |key instance|}}
    <LogGraph @key={{key}}
              @log={{instance.data}}
              @msPerPixel={{this.msPerPixel}}
              @removeLog={{fn this.removeLog key}}/>
  {{else}}
    <div class="landing">
      Import a Warcraft log id to get started.
    </div>
  {{/each-in}}
  {{#if @model}}
  {{log this.maxLength}}
    <GraphScale @msPerPixel={{this.msPerPixel}} @maxLength={{this.maxRaidLength}} />
  {{/if}}
</div>
